<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-dark fw-bold mb-2" href="#">
    <img src="/assets/img/sedna.png" class="img">
  </a>
  <div class="collapse navbar-collapse w-100" id="navbarNav">
    <ul class="navbar-nav text-uppercase fs-6 fw-bold w-100 justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="hotels" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">OTEL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Hakkında</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Admin</a>
      </li>
    </ul>
  </div>
  <div class="login-button-container">
    <ul class="navbar-nav flex-row">
     
      <li class="nav-item me-3 me-lg-1">
        <button ngClass="center"  *ngIf="isLogin" mat-button [matMenuTriggerFor]="menu" class="">
          <div class="col-auto">
            <i class="fas fa-user-circle fa-3x text-dark"></i>
          </div>
          <div class="col">
            <span class="text-dark">Kullanıcı İşlemleri</span>
          </div>
        </button>
   

    <mat-menu #menu="matMenu">
      <p> Hoşgeldiniz.. <strong class="d-none d-sm-block ms-1 nav-link-text">{{userName}}</strong> </p>
       
      <button routerLink="/hotels/admin" mat-menu-item>Hotel Admin</button>
      <button routerLink="/myProfile"  mat-menu-item>Kullanıcı işlemleri</button>
      <button (click)="logOut()" mat-menu-item>Çıkış Yap</button>
      </mat-menu>
    </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" *ngIf="!isLogin" routerLink="login">
          <strong class="d-none d-sm-block ms-1nav-link-text">Login</strong>
          <span class="li-ico"><i class="fa-solid fa-right-to-bracket"></i></span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" *ngIf="!isLogin" routerLink="register">
          <strong class="d-none d-sm-block ms-1 nav-link-text">Sign Up</strong>
          <span class="li-ico"><i class="fa-solid fa-user-plus"></i></span>
        </a>
      </li>
    </ul>
  </div>
  
</nav>
 -->


 <!-- Navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" routerLink="">
        <b>SEDNACLOUD</b>
      </a>
    </div>


    <!-- Center elements -->
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" routerLink="">
          <span><i class="fas fa-home fa-lg" title="hotel"></i> Anasayfa</span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" routerLink="hotels" >
          <span><i class="fas fa-hotel fa-lg" ></i> Hotel</span>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" routerLink="">
          <span><i class="fas fa-home fa-lg" title="hotel"></i> İletişim</span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" routerLink="">
          <span><i class="fas fa-home fa-lg" title="hotel"></i> Destek</span>
        </a>
      </li>

    </ul>
    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row">
      <!-- <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" *ngIf="authService.isAuthenticated">
          <strong class="d-none d-sm-block ms-1">Username</strong>
        </a>
      </li> -->
      <li class="nav-item me-3 me-lg-1">
        <button ngClass="center"  *ngIf="isLogin" mat-button [matMenuTriggerFor]="menu" class="">
          <div class="col-auto">
            <i class="fas fa-user-circle fa-3x text-white"></i>
          </div>
          <div class="col">
            <span class="text-white">Kullanıcı İşlemleri</span>
          </div>
        </button>
   

    <mat-menu #menu="matMenu">
      <p> Hoşgeldiniz.. <strong class="d-none d-sm-block ms-1 nav-link-text">{{userName}}</strong> </p>
       
      <button routerLink="/hotels/admin" mat-menu-item>Hotel Admin</button>
      <button routerLink="/myProfile"  mat-menu-item>Kullanıcı işlemleri</button>
      <button (click)="logOut()" mat-menu-item>Çıkış Yap</button>
      </mat-menu>
    </li>
     
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" routerLink="login" *ngIf="!isLogin" routerLink="login">
          <strong class="d-none d-sm-block ms-1">Login</strong>
          <span class="li-ico"><i class="fa-solid fa-right-to-bracket"></i></span>
        </a>
      </li>
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link d-sm-flex align-items-sm-center" routerLink="register"  *ngIf="!isLogin" routerLink="register">
          <strong class="d-none d-sm-block ms-1">Sign Up</strong>
          <span class="li-ico"><i class="fa-solid fa-user-plus"></i></span>
        </a>
      </li>
    </ul>
    <!-- Right elements -->
  </div>
</nav>