.li-ico {
  margin-left: 5px;
  color: white;
}

.navbar {
  z-index: 700;
  top: 0;
  width: 100%;
  height: 80px;
}
.nav-center{
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 100px; /* Navbar'ın yüksekliğine göre ayarlayın */
}

.nav-link-text{
  color: white;
}

.navbar .nav-link{
color: white;
}

.navbar .nav-link:hover{
transition: 0.4s;
background-color: rgba(126, 125, 129, 0.5);
padding: 10px;
text-align: center;
font-size: 15px;
border-radius: 5px;
}

