/* Genel Navbar Stilleri */
.navbar {
  z-index: 700;
  top: 0;
  width: 100%;
  padding: 0 2rem; /* Sol ve sağ padding ekleyerek içeriği genişletir */
  height: 80px; /* Navbar yüksekliğini artırır */
  display: flex;
  align-items: center; /* Dikey olarak ortalar */
  background-color: #343a40; /* Navbar arka plan rengini koyu yapar */
}

/* Logo için Margin ve Padding */
.navbar-brand {
  font-size: 1.5rem; /* Logo yazı boyutunu büyütür */
  padding: 0.5rem 1rem; /* Logo etrafına padding ekler */
}

/* Menü Öğeleri */
.navbar-nav {
  display: flex;
  flex-grow: 1; /* Menü öğelerinin genişlemesine izin verir */
  justify-content: center; /* Menü öğelerini yatay olarak ortalar */
  margin: 0; /* Menü öğeleri arasında boşluk bırakmaz */
}

/* Menü öğelerinin görünümü */
.navbar-nav .nav-item {
  margin: 0 1rem; /* Menü öğeleri arasındaki boşluk */
}

.navbar-nav .nav-link {
  padding: 0.75rem 1.5rem; /* İçerik ile kenar arasında boşluk sağlar */
  font-size: 1.2rem; /* Font boyutunu büyütür */
  color: #ffffff; /* Yazı rengi */
  transition: background-color 0.3s, color 0.3s; /* Geçiş efekti */
}

/* Aktif Menü Öğesi */
.navbar-nav .nav-link.active {
  color: #fff; /* Yazı rengi beyaz */
  background-color: #007bff; /* Arka plan rengi mavi */
}

/* Sağ Menüyü Düzenleme */
.navbar-nav.right {
  margin-left: auto; /* Sağ menüyü sağa yaslar */
}

/* Medya Sorguları */
@media (max-width: 992px) {
  .navbar-nav {
    flex-direction: column; /* Menü öğelerini dikey hizalar */
    align-items: center; /* Merkezde hizalar */
  }

  .navbar-nav .nav-item {
    margin: 0.5rem 0; /* Menü öğeleri arasındaki dikey boşluk */
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column; /* Menü öğelerini dikey hizalar */
  }

  .navbar-nav .nav-item {
    margin: 0.5rem 0; /* Menü öğeleri arasındaki dikey boşluk */
  }

  .navbar-nav .nav-link {
    text-align: center; /* Menü metinlerini ortalar */
  }
}
