<div id="sidebar">
    <div class="sidebar-header">
      <h3>Menu</h3>
    </div>
    <ul class="nav-links">
      <li><a  routerLink="/myProfile"><i class="bi bi-alarm-fill"></i> Rezervasyonlarım</a></li>
      <li><a  routerLink="/myProfile/myPayments"><i class="bi bi-alarm-fill"></i> Ödemelerim</a></li>
      <li><a routerLink="/myReviews"><i class="fas fa-user"></i> Yorumlarım</a></li>
      <li><a routerLink="/myProfile/changeInformation"><i class="fas fa-cog"></i> Kullanıcı Ayarları</a></li>
    </ul>
  </div>
  