<p>add-hotel works!</p>
<form [formGroup]="hotelForm" class="example-form">
    
    <input type="hidden" formControlName="id" value="{{userId}}" placeholder="Ex. Pizza">

<mat-form-field class="example-full-width m-1">
  <mat-label>Otel Adı</mat-label>   
  <input  formControlName="name" matInput placeholder="Ex. Pizza">
</mat-form-field>
<mat-form-field class="example-full-width m-1">
    <mat-label>Otel Adresi</mat-label>
    <input  formControlName="address" matInput placeholder="Ex. Pizza">
  </mat-form-field>
  <mat-form-field class="example-full-width m-1">
    <mat-label>Numara</mat-label>
    <input  formControlName="phone" matInput placeholder="Ex. Pizza" >
  </mat-form-field>
  <mat-form-field class="example-full-width m-1">
    <mat-label>Email Adresi</mat-label>
    <input  formControlName="email" matInput placeholder="Ex. Pizza" >
  </mat-form-field>
  <mat-form-field class="example-full-width m-1">
    <mat-label>description</mat-label>
    <input  formControlName="description" matInput placeholder="Ex. Pizza" >
  </mat-form-field>
  <mat-form-field class="example-full-width m-1">
    <mat-label>Star</mat-label>
    <input  formControlName="star" matInput placeholder="Ex. Pizza m-1" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>imageUrl</mat-label>
    <input formControlName="imageUrl" matInput placeholder="Ex. Pizza m-1" >
  </mat-form-field>
  </form>
  <mat-dialog-actions align="end">
  <button class="btn btn-outline-primary" (click)="addHotel()" >Ekle</button>
  </mat-dialog-actions>
