<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div *ngIf="hotel" class="main_grid">
        <div class="main_card">
          <div class="card-content">
            <div class="slider-wrapper">
              <div class="slider" #slider>
                <img id="slide1" [src]="hotel.imageUrl || 'https://cdn.pixabay.com/photo/2015/09/07/19/12/hotel-928937_1280.jpg'" alt="">
              </div>
            </div>
            <div class="gps-wrapper">
              <div *ngIf="hotel.googleMap" [innerHTML]="getSafeGoogleMap()"></div>
              <div *ngIf="!hotel.googleMap">
                Harita bilgisi girilmedi
              </div>
            </div>
          </div>
          <div class="hotel-info">
            <div class="main_card_header">
              <h2 class="">{{hotel.name}}</h2>
              <hr>
            </div>
            <p><i class="ri-map-pin-line"></i> {{hotel.address}}</p>
            <!--hotelfeatures-->
            <app-extensions *ngIf="hotel.id" [hotelId]="hotel.id"></app-extensions>
          </div>
        </div>
      </div>
      <app-room class="m-1" *ngIf="hotel" [hotelId]="hotel.id"></app-room>
    </div>
    <div class="col-md-1"></div>
  </div>
  <app-review *ngIf="hotel" [hotelId]="hotel.id"></app-review>
  